* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/*barrade navegacion*/

.navegador {
    padding: 10px;
    display: flex;
    text-decoration: none;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: static;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 0px;



}

.navegador__list {
    display: flex;
    gap: 20px;
    text-decoration: none;
}


.navegador__titulo {
    text-decoration: none;
    color: #b2967d;
    font-weight: 600;
    text-align: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    background-color: #eee4e1;
    padding: 15px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: #b2967d;
    margin: auto;




}


.navegador__item {
    text-decoration: none;
    color: #b2967d;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    background-color: #eee4e1;
    text-align: center;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: #b2967d;
    margin-bottom: 15px;
    margin-top: 15px;
    width: auto;
    list-style: none;
    display: flex;

}

.navegador__item a {
    text-decoration: none;
    color: #b2967d
}

/*PORTADA*/

.portada {
    background-image: url(../img/fachadahotels.jpg);
    background-position: center;
    background-size: cover;
    height: 98vh;
    border-radius: 50px;


}

.porta__titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b2967d;
    font-size: 2rem;
    padding: 15px;
    background-color: #eee4e1;
    text-align: center;
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #e6beae;
    margin-bottom: 15px;
    margin-top: 15px;
    width: auto;

}


.portada__section--habitaciones {
    background-image: url(../img/habitacion.jpg);
    border-radius: 50px;
    height: 60vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;


}

.portada__section--gastronomia {
    background-image: url(../img/restaurant.jpg);
    border-radius: 50px;
    height: 60vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.portada__subtitulo {
    text-align: center;
    color: #ecf8f8;
    background-color: #b2967d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;



}

.portada__parrafo {
    text-align: center;
    color: #b2967d;
    background-color: #ecf8f8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    padding: 15px;
    border-radius: 50px;
}


/*PAGINAS*/

.rotuladores {
    color: #b2967d;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    background-color: #eee4e1;
    padding: 15px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: #e6beae;
    margin: auto;
    position: relative;
}

.rotuladores__subtitulos {
    text-align: center;
    color: #ecf8f8;
    background-color: #b2967d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 5px;
}

/*PAGINA habitaciones*/

/*.grilla__habitaciones{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:25vh 55vh 20vh;
    grid-template-areas: 
    " header header"
    "main main "
    "footer footer ";
    
}

head{
    grid-area: header;
    grid-column: 1/3;
}
main{
    grid-area: main;
}

footer{
    grid-area:  footer;
}
/*.habitacion__corpo{
    grid-column: 3/2;
    grid-row: 3/4;
}

.habitacion__suite{
    grid-row: 5/6;
    grid-column: 2/3;
    
}*/

.rotuladores__cuerpo {
    display: flex;
    flex-direction: row;
    gap: 5px;


}

.rotuladores__texto {
    border: 5px solid #e56b6f;
    border-color: #e6beae;
    width: 800px;
    background-color: #eee4e1;
    border-radius: 5px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;


}



.rotuladores__img {
    width: 100%;
    padding: 15px;
    border-radius: 15px;






}

.rotuladores__tipos {
    color: #e56b6f;
    font-size: 2rem;


}

.reservar {
    align-self: center;
    background-color: #ecf8f8;
    font-size: 1.5rem;
    color: #e56b6f;
    border-radius: 15px;
    padding: 10px;


}

.descripcion {
    font: 1rem;
}

.reservar:hover {
    background-color: #e56b6f;
    color: #eee4e1;


}


/* PAGINA RESERVAS*/

.formulario {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #eee4e1;

}

.formulario__section {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;


}

.formulario__input {
    height: 2rem;
    border: #e6beae solid;
    border-radius: 15px;
    font-size: 1rem;

}

.formulario__personas {
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px;


}

.formulario__terminos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5;
    background-color: #e6beae;
    border-radius: 15px;
    padding: 15px;

}

/*PIE DE PAGINA */
.pie {


    background-color: #eee4e1;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 20vh;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.maps {
    height: 15vh
}

.pie__titulo {
    color: #ecf8f8;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e6beae;
    font-size: 2rem;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pie__redes {
    color: #050505;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    display: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/*bootstrap*/


.container-fluid {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;




}

.hotel {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b2967d;
    font-size: 2rem;
    background-color: #eee4e1ea;
    padding: 15px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: #b2967d;
    margin: auto;

}

.container-fluid .nav-item .barra {
    border-color: #b2967d font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    text-align: center;

    margin-bottom: 15px;
    margin-top: 15px;

}

.container-fluid .nav-item .barra:hover {

    background-color: #e56b6f;
    color: #eee4e1;
}


.pie__pagina {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b2967d;

}


.pie__items {
    color: #e56b6f;
}

.card .resto {
    background-color: #eee4e1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.botones{
    background-color: #eee4e1;
}



/*
h1{
    color:#b56576;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    background-color:#eaac8b;

}
footer h4{
    color: #e56b6f;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.color-coral {
    color:#eaac8b;
    font-weight: 400;
    text-align: left;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;

}

header nav a {
    color: #6d597a;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

section h3{
    color: #355070;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.color-list{
    list-style:none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

*/