/*PORTADA*/

.portada {

    background-position: center;
    background-size: cover;
    border-radius: 50px;

    &__titulo {
        font-family: $tipografia;
        color: $color-uno;
        font-size: 2rem;
        padding: 15px;
        background-color: $color-cuatro;
        text-align: center;
        border-radius: 20px;
        border-width: 5px;
        border-style: solid;
        border-color: $color-seis;
        margin-bottom: 15px;
        margin-top: 15px;
        width: auto;
    }



    &__subtitulo {
        text-align: center;
        color: $color-siete;
        background-color: $color-uno;
        font-family: $tipografia;
        font-size: 2rem;
        padding: 15px;
        border-radius: 50px;
        display: flex;
        justify-content: center;

        &:hover {
            background-color: $color-siete;
            color: $color-uno;
        }
    }
}