.container-fluid .nav-item .barra {
    border-color: $color-uno;
    font-size: 1rem;
    font-family: $tipografia;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: $color-tres;
        color: $color-cuatro;
        border-radius: 50px;
        padding: 10px;
        transform: scale(1.2)
    }

}

.navegador {
    padding: 10px;
    display: flex;
    text-decoration: none;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: static;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 0px;

    &__list {
        display: flex;
        gap: 20px;
        text-decoration: none;
    }

    &__titulo {
        text-decoration: none;
        color: #b2967d;
        font-weight: 600;
        text-align: center;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 5rem;
        background-color: #eee4e1;
        padding: 15px;
        border-radius: 10px;
        border-width: 5px;
        border-style: solid;
        border-color: #b2967d;
        margin: auto;
    }

    &__item {
        text-decoration: none;
        color: #b2967d;
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        ;
        padding: 15px;
        background-color: #eee4e1;
        text-align: center;
        border-radius: 10px;
        border-width: 5px;
        border-style: solid;
        border-color: #b2967d;
        margin-bottom: 15px;
        margin-top: 15px;
        width: auto;
        list-style: none;
        display: flex;
    }

    &__iteam a {
        text-decoration: none;
        color: #b2967d
    }
}