.container-fluid .nav-item  .barra {
    
    font-size: 1rem;
    font-family: $tipografia;
    text-align: center;    
    padding: 15px;
    border-radius: 10px;
    border-width: 5px;
    
    cursor: pointer;

    &:hover {
        background-color: $color-uno;
        color: #eee4e1;
        
        border-radius: 10px;
    
    

   

    }

}

